[core]
	autocrlf = true
	excludesfile = C:\\Users\\csmith\\Documents\\gitignore_global.txt
[user]
	name = Connor Smith
	email = csmith@axxess.com
[alias]
	sd = stash -- Axxess.Support.Worker/App.config Presentation/Axxess.Support.Website/Web.config
	sdp = stash -p -- Axxess.Support.Worker/App.config Presentation/Axxess.Support.Website/Web.config
	ssf = stash show --name-only
	sf = diff --name-only HEAD
	coke = "!f() { git fetch; git checkout -t origin/${1} -b ${2}; git stash pop; }; f"
	dp = "!f() { git sd; git commit -a -m \"${1}\"; }; f"
	sprite = reset HEAD~1
