# This is Git's per-user configuration file.
[user]
name = Connor Smith
email = csmith78810@gmail.com

[alias]
cam = commit -a -m
purge = "!f() { git branch | grep -v "master" | sed 's/^[ *]*//' | sed 's/^/git branch -d /' | bash }; f"
	checkoutr = checkout

